.blocker {
  background: rgba(33,33,33,.18);
  padding: 0;
}
#request-call {
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
  width: 480px;
  border-radius: 0;
  padding-top: 55px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 65px;
  text-align: center;
  color: #212121;
  h4 {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 140%;
  }
  .subtitle {
    font-size: 14px;
    margin-bottom: 14px;
  }
  input[type="text"],
  input[type="email"] {
    border: none;
    display: block;
    width: 100%;
    height: 50px;
    font-size: 18px;
    color: #9E9E9E;
    font-weight: 300;
    background: transparent;
    position: relative;
    z-index: 1;
    &:focus {
      outline: none;
    }
    &:placeholder {
      font-size: 18px;
      color: #9E9E9E;
      font-weight: 300;
    }
  }
  .form-group {
    border-bottom: 2px solid #D6D2D0;
    margin-bottom: 14px;
    text-align: left;
    position: relative;
    &.focused {
      .placeholder {
        font-size: 13px;
        top: 3px;
      }
    }
  }
  .placeholder {
    font-size: 18px;
    color: #9E9E9E;
    font-weight: 300;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.1s ease;
  }
  .btn {
    width: 100%;
    background: #FA4616;
    border: 1px solid #FA4616;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 20px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    margin-top: 25px;
    cursor: pointer;
    transition: all .2s ease;
    &:hover {
      color: #FA4616;
      background: #FFF;
      border: 1px solid #FA4616;
    }
  }
  .close-modal {
    width: 14px;
    height: 14px;
    right: 19px;
    top: 19px;
    text-indent: 0;
    font-size: 0;
    background: none;
    &:hover {
      svg {
        stroke: #B6B2B0;
      }
    }
    svg {
      stroke: #D6D2D0;
    }
  }
}
@media (max-width: 540px) {
  #request-call {
    width: 300px;
    padding: 20px 25px 35px;
    h4 {
      font-size: 20px;
    }
    input[type=text], input[type=email] {
      height: 40px;
      font-size: 15px;
    }
    .form-group.focused {
      .placeholder {
        font-size: 12px;
        top: 0;
      }
    }
    .placeholder {
      font-size: 15px;
    }
    .btn {
      height: 40px;
      font-size: 17px;
    }
  }
}