@media (max-width: 1200px) {
  h2 {
    font-size: 35px;
  }
  .one-screen {
    .banner-slider {
      .item {
        .item-title {
          font-size: 35px;
        }
        .search-wrap {
          width: 320px;
          padding: 10px 0;
          input[type=text]{
            font-size: 21px;
            &::placeholder {

            }
          }
        }
      }
    }
  }
  .top-flex {
    .phone-num {
      font-size: 17px;
    }
    .top-flex {
      top: 20px;
    }
  }

  .menu {
    .lang-select {
      padding: 15px 30px 15px 28px;
      margin: 0 0 10px;
    }
    .site-menu {
      li {
        height: 35px;
      }
    }
    .logo {
      height: 90px;
      overflow: hidden;
      position: relative;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
    .bot-social {
      padding: 15px 15px;
    }
  }
  .ingredient-group {
    padding-left: 90px;
    padding-top: 70px;
    padding-bottom: 35px;
    .catalog-tiles-wrap {
      flex-direction: column;
      align-items: flex-start;
      .catalog-tiles {
        width: 100%;
        margin-bottom: 0;
      }
      .one-tile {
        width: 200px;
        height: 200px;
        &:nth-last-child(1),
        &:nth-last-child(2) {
          display: none;
        }
      }
      .download-catalog {
        margin-left: 0;
      }
    }
  }
  .about-us {
    padding: 40px 25px 80px 0;
    .about-us-img {
      width: 315px;
      margin-right: 55px;
    }
  }
  .industries {
    padding-top: 70px;
    padding-bottom: 85px;
    h2 {
      margin-bottom: 20px;
    }
    .industries-slider {
      margin-right: -110px;
      .ind-item-img {

      }
    }
  }
  .sign-up {
    padding-top: 50px;
    padding-bottom: 80px;
    input[type=text] {
      width: 220px;
    }
    .btn {
      margin-left: 0;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 19px;
    }
  }
  .news-and-media {
    padding-top: 60px;
    .soc {
      margin-right: 75px;
    }
    .subscr {
      width: auto;
    }
    .news-bottom {
      padding-right: 60px;
    }
  }
  .suppliers {
    padding-top: 60px;
    padding-bottom: 75px;
    .suppliers-flex {
      flex-direction: column-reverse;
    }
    .supp-text {
      margin-top: 0;
      padding-left: 0;
      margin-bottom: 15px;
      h5 {
        margin: 0 0 20px;
      }
    }
    .one-supp {
      width: 168px;
      height: 168px;
      img {
        max-width: 112px;
        max-height: 110px;
      }
    }
    .supp-list {
      max-width: 504px;
      min-width: 504px;
    }
  }
  .questions-remained {
    padding-top: 55px;
    input[type=text] {
      width: 201px;
    }
    .form-group {
      margin-right: 24px;
    }
    .btn {
      margin-left: 0;
      font-size: 20px;
      font-weight: 300;
      font-family: 'Roboto', sans-serif;
    }
    .contacts {
      .cont {
        a {
          display: block;
        }
      }
    }
  }
}
