@media (max-width: 480px) {
  header {
    .logo {
      width: auto;
      height: 20px;
      margin-top: 5px;
    }
    .header-wishlist {
      margin-right: 20px;
    }
    .right-part {
      justify-content: flex-end;
    }
  }
  .blog-posts {
    .post-list {
      .post-tile {
        width: 100%;
      }
    }
  }
  footer {
    .accordion-item {
      width: 100% !important;
      padding: 0;
      margin-bottom: 5px;
      &.opened {
        h5 {
          &:after {
            content: '';
            font-family: icons!important;
            speak: none;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            -webkit-font-smoothing: antialiased;
          }
        }
      }
    }
    .vertical-menu {
      display: none;
    }
    .payment {
      display: none;
    }
    .social-wrap {
      text-align: center;
    }
    h5 {
      margin: 0 0 0 0;
      height: 35px;
      display: flex;
      width: 100%;
      align-items: center;
      padding-right: 20px;
      position: relative;
      &:after {
        content: "";
        font-family: icons!important;
        speak: none;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .newsletter-form-btn {
      width: 120px;
    }
    .vertical-menu {
      margin-top: 10px;
      li {
        padding-left: 15px;
        a {
          font-size: 15px;
        }
      }
    }
    .subscribe-form {
      h5 {
        margin-bottom: 8px;
        &:after {
          display: none;
        }
      }
    }
  }
  .basket-wrapper {
    .basket-form {
      .price-total-wrap {
        .price-total {
          position: static;
          margin-bottom: 10px;
          display: block;
          padding-left: 15px;
        }
      }
      .button-remove {
        bottom: 11px;
      }
    }
    .cart-footer {
      padding: 15px 15px 15px 15px;
      .cart-delivery-information {
        width: 100%;
      }
      .cart-actions-inner {
        flex-direction: column;
        .button-fancy-large {
          width: 100%;
        }
      }
      .continue-shopping {
        margin-bottom: 15px;
      }
      .delivery-info {
        td {
          padding: 5px 0;
        }
      }
    }
  }
  .product-main {
    .product-variations {
      .attribute {
        .value {
          flex-wrap: wrap;
          .swatches {
            width: 100%;
          }
        }
      }
    }
    .count-price {
      .md-btn {
        width: 155px;
        min-width: 155px;
        margin-right: 5px;
      }
    }
    .product-add-to-cart {
      .button-fancy-large {
        padding: 0;
      }
      .quantity {
        width: 50px;
        min-width: 50px;
        input {
          padding: 11px 10px;
        }
      }
      .wishlist-button {
        &:before {
          font-size: 26px;
        }
      }
    }
  }
  .tabs-container {
    .tab-label {
      font-size: 12px;
    }
  }
  .order-main {
    padding: 10px 10px;
    .left-col {
      width: 100%;
    }
    .right-col {
      width: 100%;
    }
    .image-contain {
      width: 65px;
    }
    .prod-name {
      font-size: 12px;
      line-height: normal;
      padding-bottom: 4px;
    }
    .code {
      font-size: 10px;
    }
    .variations {
      margin-top: 5px;
      .attribute {
        padding-bottom: 4px;
        font-size: 10px;
      }
    }
    .product-table {
      td {
        font-size: 12px;
      }
    }
  }
  .order-history-tab {
    .order-top {
      flex-wrap: wrap;
      &>table {
        width: 100%;
        margin-bottom: 15px;
      }
      &>.black-btn {
        width: 100%;
      }
    }
    .order-history-wrap {
      max-height: 150vh;
    }
  }
  .profile-main {
    h1 {
      margin: 0 0 15px;
    }
    .account-tab-content {
      .form-wrapper {
        margin: 0 0 15px;
      }
    }
    .form-wrapper {
      margin: 15px auto 0;
      .select-wrap {
        width: 100%;
        max-width: none;
        margin-bottom: 20px;
      }
      .month-wrap {
        padding: 0;
      }
      .message {
        width: 100%;
        display: block;
        max-width: none;
      }
      .year-wrap {
        margin-bottom: 10px;
      }
      .gender-wrap {
        margin-bottom: 10px;
      }
      .form-accept {
        button {
          width: 100%;
        }
      }
      .privacy-agreement {
        text-align: left;
      }
    }
    .black-btn {
      width: 100%;
    }
  }
  .wishlist-tab {
    .image-contain {
      padding-left: 0;
      padding-top: 15px;
    }
    .price-total-wrap {
      padding-left: 0;
    }
    .date-added {
      padding-left: 0;
      width: 44%;
    }
    .item-details-action {
      flex-direction: column;
      a {
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .modal-buy {
    width: 100%;
    a.close-modal {
      right: 0;
      top: 0;
    }
  }
  .blocker {
    padding: 0;
  }
  .primary-content {
    .search-result-content {
      .grid-tile {
        width: 50%;
      }
    }
  }
  .modal-size {
    width: 100%;
    height: 100vh;
    #message_box {
      height: 100%;
      max-height: none;
    }
    a.close-modal {
      top: 0;
      right: 0;
    }
  }
  .search-main {
    h2 {
      font-size: 22px;
    }
    .no-hits-search {
      width: 100%;
      margin-top: 0;
      padding-left: 10px;
      padding-right: 10px;
    }
    input[type=text] {
      font-size: 18px;
    }
    .search-recommended-categories-wrapper {
      h2 {
        font-size: 20px;
        margin-bottom: 5px;
      }
      .search-recommended-categories {
        .one-cat {
          width: 100%;
          margin-bottom: 10px;
        }
        .descr {
          padding-top: 10px;
        }
      }
    }
    .search-recommendations {
      padding-top: 0;
      h2 {
        font-size: 20px;
        margin-bottom: 5px;
      }
    }
  }
  .product-main {
    .review-answer {
      .user-name {
        color: #c60035;
      }
    }
  }
  header {
    .mobile-header {
      .mobile-logo {
        width: 150px;
      }
    }
  }
  .basket-main {
    .container-in {
      width: 300px;
    }
    .one-product {
      .prod-info {
        width: calc(100% - 95px);
      }
      .prod-name {
        font-size: 13px;
        margin-bottom: 0;
        height: 30px;
      }
      .rape {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 8px;
        .label {
          font-size: 13px;
          margin-right: 0;
          margin-bottom: 4px;
        }
      }
      .sum {
        margin-left: 0;
      }
    }
    .basket-controls {
      .back-to-catalog {
        text-align: center;
      }
    }
  }
  .shares-main {
    .container-in {
      width: 100%;
    }
    .catalog-tile {
      .catalog-tile-in {
        &:hover {
          box-shadow: none;
          background: transparent;
        }
        .img-cont {
          height: 200px;
          .img {
            transform: scale(1.0);
          }
        }
      }
      .prod-name {
        height: 50px;
        font-size: 16px;
      }
      .rank-review {
        height: 40px;
      }
      .rank {
        .fa {
          font-size: 16px;
          color: #FF0000;
        }
      }
      .reviews {
        color: #949494;
      }
    }
  }
  .checkout-main {
    h1 {
      font-size: 17px;
    }
    .container-in {
      width: 300px;
    }
    .mobile-title {
      display: block;
      font-size: 13px;
      margin: 0;
      padding: 8px 0;
      border-bottom: 1px solid #999999;
      margin-bottom: 13px;
      font-weight: normal;
      text-transform: uppercase;
    }
    .checkout-form-wrap {
      label {
        font-size: 14px;
        margin-bottom: 5px;
        font-family: 'Helios Bold';
      }
      .delivery-type {
        label {
          display: block;
          width: 100%;
        }
        .np-depart input[type=text] {
          width: 100%;
        }
      }
      .in-ukraine-cont {
        label {
          display: none !important;
        }
        .delivery {
          margin-bottom: 0;
        }
      }
      .pickup-cont {
        .delivery {
          margin-bottom: 0;
        }
      }
      input[type=text] {
        border: none;
        height: 32px;
        font-size: 14px;
        &::placeholder {
          font-size: 14px;
        }
      }
      .form-group {
        margin-bottom: 16px;
      }
      .not-callback {
        label {
          margin-top: 11px;
        }
      }
      .delivery {
        padding-left: 70px;
      }
      .delivery-select-wrap {
        label {
          min-width: 70px;
          width: 70px;
          font-size: 13px;
        }
      }
      .delivery-adress {
        label {
          display: none;
        }
      }
      .date-selector {
        margin-bottom: 15px;
        .label {
          margin-right: 0;
          font-size: 14px;
        }

      }
      .courier-cont {
        margin-bottom: 0;
      }
      .email-group {
        input[type="email"] {
          width: auto;
          flex-grow: 1;
          height: 32px;
          font-size: 14px;
        }
      }
      .payment-method {
        font-size: 14px;
        font-family: 'Helios Bold';
        label {
          display: block;
          font-size: 13px;
          margin: 0 0 13px;
          padding: 8px 0;
          border-bottom: 1px solid #999;
          font-weight: 400;
          text-transform: uppercase;
          width: 100%;
        }
      }
      .count-persons {
        label {
          display: block;
          font-size: 13px;
          margin: 0 0 13px;
          padding: 8px 0;
          border-bottom: 1px solid #999;
          font-weight: 400;
          text-transform: uppercase;
          width: 100%;
        }
      }
      .jq-number {
        width: 100%;
      }
      .jq-number__field {
        input {
          padding: 7px 9px;
        }
      }
      .jq-number__spin {
        font-size: 25px;
      }
    }
    .checkout-wrap {
      input[type=email] {
        border: 0;
      }
      .delivery {
        font-size: 13px;
        line-height: normal;
        color: #333333;
      }
    }
    //.comment-wrap {
    //  .js-add-comment {
    //    display: none;
    //  }
    //  .comment-text {
    //    display: block;
    //  }
    //}
    .promo-wrap {
      //.js-add-promo {
      //  display: none;
      //}
      .add-promo-wrap {
        //display: block;
        width: 100%;
        .send-promo {
          width: 28px;
          border: 1px solid #AFAFAF;
          .fa {
            font-size: 19px;
            margin-top: 3px;
            color: #AFAFAF;
          }
        }
      }
    }
    .checkout-cont {
      .mobile-title-edit {
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
        border-bottom: 1px solid #999999;
        margin-bottom: 19px;
      }
      h4 {
        margin: 0;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 13px;
      }
      .edit-order {
        color: #FF0000;
        font-size: 13px;
        text-decoration: none;
      }
      .product-total {
        margin-top: 0;
        text-align: left;
        padding-left: 130px;
        span {
          font-size: 16px;
          color: #333333;
        }
      }
      .one-product {
        padding-bottom: 10px;
      }
      .edit-total {
        font-family: 'Helios Bold';
        .edit-order {
          display: none !important;
        }
        .total-sum {
          width: 100%;
          display: flex;
          justify-content: space-between;
          font-size: 14px;
          span {
            font-size: 15px;
            color: #333333;
          }
        }
      }
      .total-delivery {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        span {
          font-size: 14px;
          font-family: 'Helios';
        }
      }
    }
  }
  .home-main {
    .bestsellers {
      h3 {
        margin: 0 0 0px;
        font-size: 25px;
      }
    }
  }
  #basket {
    padding: 10px;
    max-width: 300px;
    width: 300px;
    .prod-name {
      margin-bottom: 5px;
      margin-bottom: 0;
    }
    .one-product {
      flex-direction: column;
    }
    .js-close-modal {
      right: 8px;
      top: 9px;
    }
    .prod-img {
      margin-right: 0;
      width: 100%;
    }
    .mCSB_inside>.mCSB_container {
      margin-right: 20px;
    }
    .products-list {
      max-height: 280px;
      height: 280px;
    }
    .basket-total {
      padding: 10px 0;
      span {
        flex-wrap: nowrap;
        min-width: 90px;
        display: flex;
      }
    }
    .bot-controls {
      .md-btn {
        min-width: 140px;
        font-size: 14px;
      }
      .continue {
        margin-right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }
  }
  .catalog-main {
    .catalog-tiles-container {
      .sort {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 10px 5px;
      }
      .one-sort {
        margin-bottom: 15px;
        width: 100%;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .tiles-wrap {
      padding: 0;
    }
    .articles-cont {
      h3 {
        margin: 0 0 13px;
        font-size: 25px;
      }
      .articles-wrap {

      }
    }
    .seo-cont {
      h3 {
        font-size: 23px;
        margin: 0 0 10px;
      }
      .seo-text {
        padding: 0 5px;
      }
    }
    .feedback-cont {
      padding: 0;
    }
    .baner {
      position: relative;
      min-height: 150px;
      .breadcrumbs {
        z-index: 2;
      }
      .page-title-container {
        z-index: 2;
      }
      img {
        height: 100%;
        width: auto;
        top: 50%;
        left:  50%;
        transform: translate(-50%,-50%);
        position: absolute;
        z-index: 1;
      }
    }
  }
}