@media (max-width: 768px) {
  .desctop-header {
    display: none;
  }
  .baner {
    .breadcrumbs {
      padding-top: 0;
      width: 100%;
      padding-left: 28px;
    }
    .page-title-container {
      padding-top: 25px;
      h1 {
        font-size: 19px;
      }
      .after-title {
        font-size: 16px;
      }
    }
  }
  header {
    .mobile-header {
      display: flex;
    }
  }
  .catalog-tiles-container {
    .sort {
      .one-sort {
        flex-direction: column;
      }
      .label {
        margin-bottom: 4px;
      }
      .jq-selectbox__select {
        margin-left: 0;
      }
    }
  }
  footer {
    .container {
      padding: 5px 0 0;
      .footer-in {
        flex-direction: column;
        align-items: center;
        padding: 0px 15px 10px;
        border-top: none;
      }
      .right-part {
        display: none;
      }
      .center-part {
        order: 1;
      }
      .soc-part {
        order: 2;
        margin-bottom: 20px;
      }
      .logo {
        width: 162px;
        margin-bottom: 15px;
      }
      .copytirht {
        display: none;
      }
      .foot-title {
        display: none;
      }
      .social {
        a {
          width: 30px;
          height: 30px;
          font-size: 17px;
        }
      }
      .mobile-copyright {
        display: block;
        order: 3;
        color: #B0B8BD;
        text-align: center;
        font-size: 12px;
      }
    }
  }
  .product-main {
    background: #F2F2F2;
    .container {
      padding: 0 15px;
    }
    .breadcrumbs {
      height: auto;
      padding-top: 5px;
      padding-bottom: 6px;
      font-size: 12px;
      display: block;
      li {
        color: #C2C2C2;
        display: inline;
      }
      a {
        color: #C2C2C2;
        display: inline;
      }
    }
    .prod-top {
      flex-wrap: wrap;
      .img-cont {
        width: 100%;
      }
      .info-cont {
        padding-left: 0;
      }
    }
    .product-name {
      display: none;
    }
    .count-price {
      .one-click {
        background: #FFFFFF;
      }
    }
    .reviews-rank {
      padding: 8px 0;
      justify-content: center;
      position: relative;
      margin-bottom: 0;
      .fa {
        font-size: 17px;
        color: #FF0000;
      }
      .reviews {
        font-size: 14px;
        position: absolute;
        right: 0;
      }
      .rank {
        margin-right: 0;
      }
    }
    .jq-number__field {
      background: #FFFFFF;
    }
    .jq-number {
      margin-right: 20px;
    }
    .count-wrap {
      padding-right: 0;
    }
    .mobile-price {
      display: block;
    }
    .mobile-char {
      display: block;
    }
    .mobile-sum {
      display: block;
    }
    .roasting-top {
      margin-bottom: 8px;
      a {
        display: none;
      }
    }
    .roasting-title {
      color: #4070CF;
      margin-right: 0;
      font-size: 14px;
      span {
        color: #212121;
      }
    }
    .price {
      display: none;
    }
    .btn-cont {
      display: flex;
      justify-content: center;
    }
    .price-wrap {
      .md-btn {
        background: #FF0000;
        height: 34px;
        width: 147px;
        border-radius: 4px;
        text-transform: uppercase;
        min-width: 110px;
      }
      .one-click {
        background: #FFFFFF;
        border: 2px solid #FF0000;
        padding-left: 3px;
        padding-right: 3px;
        color: #FF0000;
        &:hover {
          background: #FFFFFF;
          color: #FF0000;
        }
      }
    }
    .char-table {
      display: none;
    }
    .delivery-table {
      font-size: 13px;
      .jq-selectbox__select {
        background: #FFFFFF;
        border: 1px solid #D3D3D3;
        border-radius: 0;
        padding-left: 10px;
        min-width: 85px;
        height: 24px;
        line-height: normal;
      }
      .jq-selectbox__trigger {
        padding-right: 20px;
      }
      .jq-selectbox__select-text {
        line-height: 23px;
        text-decoration: none;
        color: #4C4C4C;
      }
      .info-text {
        line-height: normal;
      }
      & > div {
        margin-bottom: 10px;
      }
    }
    .char-delivery {
      margin-bottom: 0;
      padding-bottom: 15px;
      border-bottom: 1px solid #E6E6E6;
    }
    .descr-roast {
      border-bottom: 1px solid #E6E6E6;
      .mobile-title {
        font-size: 14px;
        text-align: left;
        text-transform: uppercase;
        margin: 15px 0;
      }
      .scheme {
        background: #FFFFFF;
        width: 100%;
        padding: 10px;
      }
      .text {
        font-size: 13px;
        line-height: normal;
        p {
          margin: 0 0 14px;
        }
      }
    }
    .reviews-wrap {
      border-bottom: 1px solid #E6E6E6;
      margin-bottom: 0;
      h4 {
        font-size: 14px;
        text-align: left;
        text-transform: uppercase;
        margin: 15px 0;
        display: flex;
        justify-content: space-between;
        span {
          display: none;
        }
      }
      .mobile-add-review {
        display: block;
      }
      .reviews-flex {
        flex-direction: column-reverse;
      }
      .add-review {
        display: none;
      }
      .js-more-review {
        width: 148px;
        min-width: 148px;
        height: 30px;
        background: #333333;
        border-radius: 4px;
        font-size: 14px;
        padding: 5px 0;
      }
    }
    .one-review {
      margin-bottom: 15px;
      .user-name {
        font-size: 14px;
        margin-bottom: 6px;
      }
      .user-rank {
        margin-bottom: 9px;
        .fa {
          color: #FF0000;
        }
      }
      .review-text {
        font-size: 14px;
      }
    }
    .review-answer {
      padding-left: 65px;
      margin-top: 15px;
    }
    .reviews-view.hided {
      .reviews-cont {
        margin-bottom: 0;
        &:after {
          display: none;
        }
      }
    }
    .recommendations {
      padding-top: 0;
      h3 {
        font-size: 14px;
        text-align: left;
        text-transform: uppercase;
        margin: 15px 0;
      }
    }
    .catalog-tile {
      .img-cont {
        height: 200px;
      }
      &:hover {
        .catalog-tile-in {
          background: transparent;
          box-shadow: none;
        }
        .img {
          transform: scale(1);
        }
      }
      .rank {
        .fa {
          font-size: 19px;
          color: #FF0000;
        }
      }
      .rank-review {
        height: 35px;
        .reviews {
          color: #949494;
        }
      }
      .product-price {
        font-size: 17px;
      }
    }
    .tiles-wrap {
      border-bottom: 1px solid #E6E6E6;
      .prod-name {
        height: 60px;
      }
    }
    .catalog-tile {
      .md-btn {
        width: 102px;
        min-width: 102px;
        text-transform: uppercase;
        font-size: 14px;
        font-family: 'Helios Bold';
        height: 30px;
        background: #FF0000;
      }
    }
    .articles-cont {
      margin-bottom: 25px;
      h3 {
        font-size: 14px;
        text-align: left;
        text-transform: uppercase;
        margin: 15px 0;
      }
      .more-articles {
        width: 148px;
        min-width: 148px;
        height: 30px;
        background: #333;
        border-radius: 4px;
        font-size: 14px;
        padding: 5px 0;
      }

    }
    .add-review {
      padding-bottom: 45px;
    }
    .add-review-in {
      width: 100%;
      h5 {
        display: none;
      }
      label {
        font-family: 'Helios';
        font-size: 14px;
      }
      .label {
        font-family: 'Helios';
        font-size: 14px;
      }
      input[type=text] {
        height: 30px;
      }
      .form-group-rank {
        .rank-set {
          .fa {
            color: #FF0000;
          }
        }
      }
      .md-btn {
        background: #FF0000;
        width: 102px;
        min-width: 102px;
        font-size: 14px;
        font-family: 'Helios Bold';
        height: 30px;
        text-transform: none;
      }
    }
  }
  .feedback-cont {
    h5 {
      font-size: 19px;
    }
    .form-in {
      width: 280px;
    }
    .form-group {
      margin-bottom: 15px;
    }
    .checkbox-wrap {
      flex-direction: column;
      text-align: left;
    }
    .checkbox-cont {
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .md-btn {
      width: 120px;
      min-width: 120px;
      text-transform: uppercase;
      font-size: 14px;
      font-family: 'Helios Bold';
      height: 30px;
      background: #FF0000;
    }
  }
  .basket-main {
    background: #F2F2F2;
    .container-in {
      width: 540px;
      padding-bottom: 35px;
    }
    .after-count {
      display: none;
    }
    .one-product {
      padding-top: 20px;
      height: auto;
      .prod-img {
        width: 160px;
        margin-right: 12px;
      }
      .prod-info {
        width: auto;
        flex-grow: 1;
      }
      .remove-btn {
        background: none;
        top: 8px;
        &:before {
          content: "\f00d";
          color: #FF0000;
          font-family: "FontAwesome";
          display: block;
          font-size: 21px;
        }
      }
      .price {
        display: none;
      }
      .prod-name {
        font-size: 16px;
        padding-right: 0;
      }
      .rape {
        margin-bottom: 15px;
        .label {
          text-decoration: underline;
          color: #3366CC;
          font-size: 14px;
          font-family: 'Helios Bold';
          margin-right: 15px;
        }
      }
      .jq-selectbox__select {
        background: #FFFFFF;
        border-radius: 0;
        height: 24px;
        padding: 0 35px 0 5px;
      }
      .jq-selectbox__select-text {
        font-size: 13px;
        font-family: 'Helios';
        text-decoration: none;
        line-height: 24px;
      }
      .jq-selectbox {
        &.opened {
          .jq-selectbox__trigger-arrow {
            &:after {
              content: "\f106";
            }
          }
        }
      }
      .jq-number__field {
        input {
          background: #FFFFFF;
          width: 45px;
          height: 25px;
        }
      }
      .jq-number {
        .jq-number__spin {
          height: 25px;
          width: 20px;
        }
      }
    }
    h2 {
      font-size: 17px;
    }
    .mobile-basket-wrap {
      display: block;
      text-align: right;
      margin-bottom: 18px;
    }
    .mobile-clear-basket {
      color: #6B6B6B;
      text-decoration: underline;
      font-size: 15px;
    }
    .basket-controls {
      justify-content: center;
      .clear-basket {
        display: none;
      }
      .to-order {
        background: #FF0000;
        min-width: 0;
        border-radius: 4px;
      }
      .back-to-catalog {
        color: #FF0000;
        margin-right: 20px;
        border: 2px solid #FF0000;
        border-radius: 4px;
        background: #FFFFFF;
        span {
          text-decoration: none;
          font-family: 'Helios Bold';
        }
        .fa {
          display: none;
        }
      }
    }
    .total {
      display: flex;
      justify-content: space-between;
      font-family: 'Helios Bold';
      text-transform: uppercase;
      color: #333333;
      border-bottom: 1px solid #D7D7D7;
      padding-bottom: 22px;
      margin-bottom: 22px;
      span {
        text-transform: none;
      }
    }
  }
  .shares-main {
    background: #F2F2F2;
    .container {
      padding-bottom: 40px;
    }
    h1 {
      font-size: 25px;
    }
    .container-in {
      width: 540px;
      overflow: hidden;
    }
    .share-name-wrap {
      padding-left: 20px;
    }
    .share-name {
      font-size: 20px;
    }
    .rank {
      .fa {
        font-size: 18px;
      }
    }
    .reviews {
      font-size: 13px;
      color: #949494;
    }
    .share-price {
      font-size: 16px;
    }
    .product-price {
      font-size: 19px;
    }
  }
  .checkout-main {
    .container-in {
      width: 500px;
      padding-bottom: 35px;
    }
    h1 {
      margin: 0 0 20px;
      font-size: 24px;
    }
    .checkout-wrap {
      label {
        width: 140px;
      }
      .not-callback {
        label {
          margin-left: 140px;
        }
      }
      .delivery {
        margin-left: 140px;
      }
    }
    .checkout-form-wrap {
      width: 100%;
      .delivery-type {
        label {
          width: 145px;
        }
      }
    }
  }
  .home-main {
    background: #F2F2F2;
    .catalog-tile {
      .rank {
        .fa {
          font-size: 19px;
        }
      }
      .reviews {
        font-size: 14px;
      }
    }
    .seo-cont {
      .text-in {
        &:after {
          background: #F2F2F2;
          background: linear-gradient(to bottom,rgba(242,242,242,0),rgba(242,242,242,1));
        }
      }
    }
  }
  #basket {
    max-width: 510px;
    width: 510px;
    .prod-img {
      width: 120px;
      min-width: 120px;
    }
    .products-list {
      max-height: 145px;
    }
    .prod-name {
      font-size: 18px;
    }
    .modal-title {
      font-size: 19px;
      margin-bottom: 15px;
    }
    .basket-total {
      span {
        font-size: 19px;
      }
    }
    .count-price {
      .sum {
        font-size: 19px;
      }
    }
  }
}
@media (max-width: 600px) {
  header {
    .mobile-header {
      padding: 0;
    }
  }
  .tiles-wrap {
    justify-content: center;
  }
  .catalog-tile {
    width: 100%;
    max-width: 320px;
  }
  .basket-main {
    .container-in {
      width: 380px;
    }
    .one-product {
      .prod-img {
        width: 132px;
      }
      .remove-btn {
        top: 0;
      }
    }
  }
  .shares-main {
    h1 {
      font-size: 15px;
      text-transform: uppercase;
      color: #515151;
    }
    .container {
      padding-top: 15px;
    }
    .container-in {
      width: 100%;
      padding: 0 15px;
    }
    .one-share {
      margin-bottom: 20px;
      .share-img {
        margin-bottom: 8px;
      }
      .timer-title {
        min-width: 100px;
        font-size: 10px;
      }
      .timer {
        min-width: 110px;
      }
    }
    .countDays, .countHours, .countMinutes, .countSeconds {
      font-size: 14px;
    }
    .countDiv {
      width: 9px;
    }
    .share-name-wrap {
      padding-left: 8px;
    }
    .share-name {
      font-size: 16px;
      color: #0066CC;
    }
    .one-val {
      font-size: 7px;
    }
    .more-shares {
      height: 30px;
      border-radius: 4px;
      font-family: 'Helios';
      font-size: 15px;
      padding: 0px 10px;
    }
    .pagination {
      font-size: 20px;
    }
  }
  .checkout-main {
    background: #F2F2F2;
    .container-in {
      width: 450px;
    }
    .checkout-wrap {
      label {
        display: none;
        font-family: 'Helios';
      }
      input[type=email], input[type=text] {
        width: 100%;
      }
      .not-callback {
        label {
          margin-left: 0;
        }
      }
      .jq-selectbox {
        width: 100%;
      }
      .jq-selectbox__select {
        width: 100%;
      }
      .delivery {
        margin-left: 0;
      }
    }
    .checkout-form-wrap {
      padding-bottom: 20px;
      .delivery-select-wrap {
        label {
          display: flex;
        }
      }
      .delivery-adress {
        label {
          display: flex;
        }
        input[type="text"] {
          width: auto;
          flex-grow: 1;
        }
      }
      .date-selector {
        flex-wrap: wrap;
        .label {
          width: 100%;
          margin-bottom: 8px;
        }
        .js-calendar {
          width: auto;
        }
        .jq-selectbox {
          width: 50%;
        }
      }
      .payment-method {
        .jq-selectbox {
          width: auto;
          flex-grow: 1;
        }
        .jq-selectbox__select {
          width: 100%;
        }
        label {
          display: flex;
        }
      }
      .count-persons {
        justify-content: space-between;
        label {
          display: flex;
          width: auto;
        }
        .jq-number__field {
          width: auto;
        }
        .jq-number {
          background: #FFFFFF;
        }
      }
    }
    .checkout-cont {
      width: 100%;
      box-shadow: none;
      padding: 0;
      .checkout-list {
        height: 100%;
        &:after {
          background: none;
        }
      }
      .one-product {
        border-bottom: 1px solid #D7D7D7;
        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
  .home-main {
    .bestsellers {
      h3 {
        margin: 0 0 0;
        font-size: 25px;
      }
    }
    .show-more-cont {
      .show-more {
        height: 50px;
        font-size: 17px;
      }
      .pagination {
        font-size: 24px;
      }
    }
    .seo-cont {
      h3 {
        font-size: 25px;
        margin: 0 0 15px;
      }
      .text-in {
        max-height: 475px;
      }
    }
    .tiles-wrap {
      padding: 0;
    }
  }
  #basket {
    max-width: 435px;
    width: 435px;
    padding: 15px;
    .js-close-modal {
      right: 15px;
      top: 15px;
    }
    .md-btn {
      min-width: 190px;
    }
  }
  .catalog-main {
    background: #F2F2F2;
    .seo-cont {
      .text-in {
        &:after {
          display: none;
        }
      }
    }
  }
}