* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #212121
}
h2 {
  font-size: 50px;
  color: #212121;
  margin: 18px 0;
  font-weight: 400;
}
h4 {
  font-size: 24px;
  font-weight: 500;
  color: #212121;
  margin: 20px 0 20px 0;
}
.overlay {
  background: rgba(33,33,33,.18);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}