.footer {
  display: flex;
  width: 100%;
  padding: 35px 55px 35px 110px;
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .copyright {
    color: #9E9E9E;
    font-size: 12px;
  }
  .foot-c {
    text-decoration: none;
    color: #9E9E9E;
    font-size: 12px;
  }
}